---
layout: page
title: Three-Person-Walking!
tagline: Good Good Study And Day Day Up -- by zedong.Mao
---
{% for post in page.posts %}
    <div>
        <h3>
            <a href="{{site.url}}{{post.url}}">{{ post.title }}</a>
        </h3>
        <p class="text-info" style="line-height: 28px;"></p>
        <span class="date">{{ post.date | date: "%A %y-%m-%d %I:%M" }}</span>
        <div class="tags">
            {% for tag in post.tags %} 
                <span class="label label-info">{{tag}}</span>
            {% endfor %}
        </div>
        <p class="text-right">
            <a href="{{site.url}}{{post.url}}">&gt;Read More</a>
        </p>
    </div>
{% endfor %}
<hr>
<div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
</div>

